<a href="https://colab.research.google.com/github/SooraChoi/SQL/blob/main/08_%ED%95%A8%EC%88%98_%ED%99%9C%EC%9A%A9%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 집계함수, CASE WHEN : 집계 함수 및 조건문을 사용하여 테이블 데이터 요약하기
- 집계함수: 여러 행을 대상으로 연산을 수행해서 하나의 값으로 나타내는 것
---
#1. 숫자 데이터 요약하기 [SQL의 집계 함수]
###1) COUNT 함수
행의 수를 나타냄

    COUNT(*) : NULL값을 포함한 모든 행의 수
    COUNT(열이름) : NULL값을 제외한 모든 행의 수
    COUNT(DISTINCT 열이름) : NULL값, 중복 제외한 모든 행의 수

###2) SUM, AVG, MAX, MIN, STDENV, VARIANCE 함수
대표성을 갖는 숫자로, 집단에 대해 요약

    (주의) 집계 함수를 사용하면 NULL값은 계산에서 무시된다.
      -> ex 평균 계산할 때, null값 포함하려면 coalesce 함수로 치환 후 avg 사용
              SELECT AVG ( COALESCE(MUSIC_SCORE,0) ) AS MUSIC_AVG
              FROM STUD_SCORE;

#2. 조건문 이해하기 [조건에 따른 결과값 나타내기]
###1) CASE WHEN 문장
    SELECT 열이름,
           CASE WHEN [조건1] THEN [결과값1]
                WHEN [조건2] THEN [결과값2]
                ELSE [결과값3]
                END
                AS 새로운 열이름
    FROM 테이블명;

    예제03
    SELECT ( SUM(CASE WHEN~~END) - SUM(NUMBER) ) AS ADD_BUDGET
    FROM STAFF_SAL;
              
- CASE WHEN 함수에서 EQUAL 조건만 있을 경우, DECODE 함수 사용 가능

      DECODE (열이름, 조건1, 결과값1,
                      조건2, 결과값2,
                      조건3, 결과값3. 기본값) 새로운열이름


---
    실습02
    SELECT COUNT(CUST_ID) AS LEAD_CNT,
           SUM(CASE WHEN BALANCE_201311*1.1<=BALANCE_201312 THEN 1) AS OFFER_ACCEPT,
           OFFER_ACCEPT%LEAD_CNT*100 AS RES_RATE
    FROM CASA_201312;

    #오류1 CASE WHEN 에서 'ELSE 0', 'END' 둘 다 누락
    #오류2 RESRATE계산식쓸 때, 방금 정한 별칭 사용X. 풀어서 쓰기.
    #헷갈포인트
      DAY08 실습02: 조건에 만족하는 개수 세기 ★
            SELECT SUM ( CASE WHEN COST_02*1.1 <= COST_03 THEN 1 ELSE 0 END)
                   AS ACCEPT
            FROM TABLE;
      DAY09 예제-1 01: 고객등급별, 평균 수익 ★
            SELECT SEG, **AVG(ANNL_REV)** AS REV
            FROM TABLE
            GROUP BY SEG;
      DAY09 예제-1 03: (A,B)열 그룹별 개수 세기 ★★
            SELECT A, B, **COUNT(*)** AS CNT
            FROM TABLE
            GROUP BY A,B;

    실습03,04